body {
  margin: 0 auto;
  background-color: black;
}

#CanvasCss {
  display: flex;
  align-items: center;
  justify-content: center;
}

#Canvas {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  display: none;
  width: 800px;
  height: 600px;
  padding: 0;
  margin: auto;
}

#start {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#startbutton {
  font-size: 3rem;
  color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#timer,
#Timer {
  font-size: 2rem;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#gameOver,
#youWin {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
  width: 800px;
  height: 600px;
  padding: 0;
  margin: auto;
}

#restart {
  font-size: 3rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#controls {
  font-size: 2rem;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
